/* -----------------------------------------
#bxslider
-----------------------------------------*/
#slider{height:350px;position:relative}
#inner #slider{height:200px;margin-bottom: 15px}
.slider-caption{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  h2 {
    margin:0;
    color: $blue-lightest;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
  }
  h3 {
    margin: 0;
    color: $blue-lightest;
  }
}
#slider-overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  z-index: 60;
  background:rgba(0, 0, 0, .6);
}
.bx-viewport,.bx-wrapper,.bxslider,.bxslider li{height:100%!important}
.bx-wrapper{position:relative;margin:0;padding:0;*zoom:1;overflow:hidden}
.bxslider{margin:0;padding:0}
.bx-wrapper img{max-width:100%;display:block}
.bxslider{list-style:none}
// .bxslider>li:nth-child(n+1){display:none}
/*! pager */
.bx-wrapper .bx-pager{text-align:center}
.bx-wrapper .bx-controls-auto .bx-controls-auto-item,.bx-wrapper .bx-pager .bx-pager-item{display:inline-block;*zoom:1;*display:inline}
.bx-wrapper .bx-pager.bx-default-pager a{background:#666;text-indent:-9999px;display:block;width:10px;height:10px;margin:0 5px;outline:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:hover{background:#000}
/*! direction controls */
.bx-wrapper .bx-controls-direction a{width:32px;height:32px;margin:-20px 0 0;display:block;background:url(/assets/images/slider-nav.png) no-repeat 0 0;position:absolute;z-index:51;top:50%;cursor:pointer;text-indent:-9999px;opacity:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease;transition:all .3s ease}
.bx-wrapper .bx-controls-direction a.disabled{display:none}
.bx-wrapper .bx-prev{left:-40px}
.bx-wrapper .bx-next{right:-40px;background-position:100% 0!important}
.bx-wrapper:hover .bx-next{opacity:.6;right:20px}
.bx-wrapper:hover .bx-prev{opacity:.6;left:20px}
.bx-wrapper .bx-next:hover,.bx-wrapper .bx-prev:hover{opacity:1}
