/* -----------------------------------------
#main
-----------------------------------------*/

.container {
  max-width: 1200px;
  width: 100%
}

.top-bar {
  background: lightsteelblue;
  font-size: 12px;
  a {
    color: $black;
    text-decoration: none;
    padding: 6px;
    display: inline-block;
    &:hover {
      color: $white;
    }
  }
}

#logo {
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  h1 {
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid $black;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    margin: 0;
  }
}

.bottom-bar {
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, .2);
}
.latest-jobs-before-and-afters {
  .btn {
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    background: lightsteelblue;
    color: #0d0d0d!important;
  }
}
.latest-jobs {
  .owl-stage {
    padding: 15px 0;
  }
}
.latest-job {
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, .2);
  margin-right: 15px;
  .img {
    float:left;
    width:50%;
    height:200px;
    border-radius: 4px 4px 0 0;
  }
  .text {
    padding: 15px;
    border-radius: 0 0 4px 4px;
    h3{
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
      display:block;
      float: right;
    }
  }
}

body {
  overflow-x: hidden
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.toggle,
.toggle2 {
  display: none
}

#calendarEvent {
  left: 0;
  max-height: 500px;
  overflow-y: auto;
  margin: 0 auto
}

header {
  position: relative;
  z-index: 200
}

/*! SKIP */

#skip {
  position: fixed;
  top: 150px;
  left: -100%;
  transition: all .3s ease-in
}

#skip:focus {
  left: 200px
}

/*! traditional dropdown menu */
#nav{padding:0;margin:0}
#nav li{position:relative;margin:0}
#nav a,#nav span{display:block;text-decoration:none;font-size:18px;padding:20px 15px;color:#222}
#nav ul{padding:0;margin:0;left:0;top:100%;display:none;text-align:left}
#nav ul li{display:block}
#nav ul ul{left:100%;top:0}
#nav ul a,#nav ul span{padding:15px 25px;font-size:16px;border-bottom:1px solid rgba(0,0,0,.15);color:#fff}
#nav li:last-child>*{border:0}

/*! for mega menu */

// #nav {
//   padding: 0;
//   margin: 0;
//   position: relative
// }
//
// #nav a,
// #nav span {
//   display: block;
//   text-decoration: none;
//   font-size: 18px;
//   padding: 20px 15px;
//   color: #222
// }
//
// #nav li {
//   margin: 0
// }
//
// #nav ul {
//   padding: 0;
//   margin: 0
// }
//
// #nav ul a,
// #nav ul span {
//   padding: 0
// }
//
// #nav ul li {
//   display: block
// }

/*! helper classes */

.pos-a {
  position: absolute
}

.pos-r {
  position: relative
}

.pos-s {
  position: static
}

.pos-f {
  position: fixed
}

/*! removes styling from the translate */

#google-translate .goog-te-gadget-simple {
  border: 0
}

#google-translate .goog-te-menu-value {
  margin: 0
}

#google-translate .goog-te-menu-value>* {
  display: none
}

#google-translate .goog-te-menu-value>span:first-of-type {
  display: block;
  font-size: 0
}

/*! for adding an icon before the alternate text */

#google-translate .goog-te-menu-value>span:first-of-type:before {
  content: '\f0ac';
  font-size: 14px;
  font-family: FontAwesome
}

/*! for changing the text in the translate */

#google-translate .goog-te-menu-value>span:first-of-type:after {
  content: 'Translate';
  font-size: 14px
}

#google-translate img {
  display: none
}
