/* -----------------------------------------
#main
-----------------------------------------*/

$blue-darkest: #12283a;
$blue-darker: #1c3d5a;
$blue-dark: #2779bd;
$blue: #3490dc;
$blue-light: #6cb2eb;
$blue-lighter: #bcdefa;
$blue-lightest: #eff8ff;

$red-darkest: #3b0d0c;
$red-darker: #621b18;
$red-dark: #cc1f1a;
$red: #e3342f;
$red-light: #ef5753;
$red-lighter: #f9acaa;
$red-lightest: #fcebea;

html,body {
  height: 100%;
}
body {
  display:flex;
  flex-direction: column;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  flex: 1 0 auto;
}

.top-bar {
  background: $blue-lighter;
  font-size: 12px;
  a {
    color: $blue-darkest;
    text-decoration: none;
    padding: 6px;
    display: inline-block;
    &:hover {
      color: #004173;
    }
  }
}

#logo {
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  color: $blue-darkest;
  h1 {
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid $black;
    text-align: center;
  }
  h2 {
    font-size: 18px;
    margin: 0;
  }
}

.bottom-bar {
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, .2);
  position: relative;
}

.mission-statement {
  padding: 15px 0;
  h2 {
    font-weight: 600;
    color: $blue-darkest;
  }
  .estimate {
    .btn {
      display:block;
      background: $blue-darker;
      color: $blue-lightest;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      &:hover,&:focus{
        color: $blue-darker!important;
        background: $blue-lighter;
      }
    }
  }
}
.latest-jobs-before-and-afters {
  padding: 30px 0 30px;
  margin-bottom: 30px;
  background: $blue-lightest;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: $blue-darkest;
  }
  .btn {
    border-radius: 4px;
    padding: 10px;
    margin-top: 15px;
    font-size: 14px;
    background: $blue-lighter;
    color: $blue-darkest!important;
    &:hover, &:focus {
      background: $blue-darker;
      color: $blue-lighter!important;
    }
  }
}
.latest-jobs {
  .owl-stage {
    padding: 15px 0;
  }
}
.latest-job {
  box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, .2);
  margin-right: 15px;
  background: #fff;
  .img {
    height:200px;
    border-radius: 4px 4px 0 0;
  }
  .text {
    padding: 15px;
    border-radius: 0 0 4px 4px;
    h3{
      margin: 0;
    }
    p {
      margin: 0;
    }
    a {
      display:block;
      float: right;
      color: $blue-dark;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.latest-services-wrap {
  padding: 30px 0;
  background: $blue-lightest;
  h2 {
    text-transform: uppercase;
    font-weight: 600;
    color: $blue-darkest;
  }
  .owl-stage{
    padding: 15px 0;
  }
  .service-card {
    display:flex;
    flex-direction: column;
    flex: 1;
    background:#fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    border-radius: 3px;
    .card-img {
      height: 150px;
    }
    .text {
      padding: 15px 30px;
      a {
        display:block;
        float: right;
        color: $blue-dark;
        text-decoration: none;
        font-weight: 700;
      }
    }
  }
  .btn {
    border-radius: 4px;
    padding: 10px;
    margin-top: 15px;
    font-size: 14px;
    background: $blue-darker;
    color: $blue-lighter!important;
    &:hover, &:focus {
      background: $blue-lighter;
      color: $blue-darker!important;
    }
  }
}

.latest_job {
  display:flex;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 15px;
  margin-bottom: 15px;
  .img-wrap {
    height: 200px;
    padding-right: 15px;
    div {
      display: block;
      margin: 0!important;
      height:100%;
      width: 250px;
    }
  }
  .text {
    display: flex;
    flex: 2;
    flex-direction: column;
    a {
      display:block;
      color: $blue-dark;
      text-decoration: none;
      font-weight: 700;
      align-self: flex-end;
    }
  }
}

.container {
  .next, .prev {
    display:inline-block;
    color: $blue-dark;
    text-decoration: none;
    font-weight: 700;
  }
  .next {
    float:right;
  }
}
#inner #main {
  padding-bottom: 60px;
}

#inner .before-and-after {
  display:flex;
  flex-wrap: wrap;
  img {
    flex:1;
  }
}

footer {
  padding: 15px 0;
  background: $blue-darker;
  color: $blue-lighter;
  a {
    color: $blue-lightest!important;
    text-decoration: none!important;
    font-weight: 600;
  }
}

.service {
  display:flex;
  justify-content: flex-start;
  align-content: space-around;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 15px;
  .img-wrap {
    width: 25%;
    margin: 0 30px 0 0;
    img{
      height: auto;
      min-height: 140px;
    }
  }
  .about-service{
    display:flex;
    flex-direction: column;
    .text, .description, a {
      display:block;
    }
    h2 {
      margin: 0;
    }
    a {
      display:block;
      color: $blue-dark;
      text-decoration: none;
      font-weight: 700;
      align-self: flex-end;
    }
  }
}
.owl-nav{
  padding-bottom: 20px;
  .owl-prev {
    position:absolute;
    left: 0;
    color: $blue-darker;
  }
  .owl-next {
    position: absolute;
    right: 0;
    color: $blue-darker;
  }
}
.service:last-of-type {
  border-bottom: 0;
}

#inner img {
  margin-bottom: 30px;
}

#contact {
  label {
    font-size: 16px;
  }
  .form-control{
    color: $blue-darkest;
  }
  textarea {
    resize: none;
  }
  .btn {
    padding: 10px 15px;
    border-radius: 4px;
  }
  .btn-primary {
    background: $blue-darker;
    color: $blue-lighter;
    border: 1px solid $blue-darker;
    &:hover, &:focus{
      background: $blue-lighter;
      color:$blue-darker!important;
    }
  }
  .btn-danger {
    background: $red-dark;
    color: $white;
    border: 1px solid $red-dark;
    &:hover, &:focus {
      background: $white;
      color: $red-dark!important;
    }
  }
  #estimate {
    span {
      display:block;
      margin-bottom: 10px;
    }
    .show {
      color: $red-dark;
    }
  }
}

#estimate-section {
  h2 {
    margin: 0;
    font-size: 20px;
  }
}

body {
  overflow-x: hidden
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.toggle,
.toggle2 {
  display: none
}

#calendarEvent {
  left: 0;
  max-height: 500px;
  overflow-y: auto;
  margin: 0 auto
}

header {
  position: relative;
  z-index: 200
}

/*! SKIP */

#skip {
  position: fixed;
  top: 150px;
  left: -100%;
  transition: all .3s ease-in;
  padding: 15px 20px;
  background: $blue-darkest;
  color: $blue-lightest;
  z-index: 100;
}

#skip:focus {
  left: 200px
}

/*! traditional dropdown menu */
#nav{padding:0;margin:0}
#nav li{position:relative;margin:0}
#nav a,#nav span{display:block;text-decoration:none;font-size:18px;padding:20px 15px;color:#222}
#nav ul{padding:0;margin:0;left:0;top:100%;display:none;text-align:left}
#nav ul li{display:block}
#nav ul ul{left:100%;top:0}
#nav ul a,#nav ul span{padding:15px 25px;font-size:16px;border-bottom:1px solid rgba(0,0,0,.15);color:#fff}
#nav li:last-child>*{border:0}

/*! for mega menu */

// #nav {
//   padding: 0;
//   margin: 0;
//   position: relative
// }
//
// #nav a,
// #nav span {
//   display: block;
//   text-decoration: none;
//   font-size: 18px;
//   padding: 20px 15px;
//   color: #222
// }
//
// #nav li {
//   margin: 0
// }
//
// #nav ul {
//   padding: 0;
//   margin: 0
// }
//
// #nav ul a,
// #nav ul span {
//   padding: 0
// }
//
// #nav ul li {
//   display: block
// }

/*! helper classes */

.pos-a {
  position: absolute
}

.pos-r {
  position: relative
}

.pos-s {
  position: static
}

.pos-f {
  position: fixed
}

/*! removes styling from the translate */

#google-translate .goog-te-gadget-simple {
  border: 0
}

#google-translate .goog-te-menu-value {
  margin: 0
}

#google-translate .goog-te-menu-value>* {
  display: none
}

#google-translate .goog-te-menu-value>span:first-of-type {
  display: block;
  font-size: 0
}

/*! for adding an icon before the alternate text */

#google-translate .goog-te-menu-value>span:first-of-type:before {
  content: '\f0ac';
  font-size: 14px;
  font-family: FontAwesome
}

/*! for changing the text in the translate */

#google-translate .goog-te-menu-value>span:first-of-type:after {
  content: 'Translate';
  font-size: 14px
}

#google-translate img {
  display: none
}
