$desktop-before: 1201px;
$desktop: 1200px;
$tablet-before: 992px;
$tablet: 991px;
$mobile: 767px;
$mobile-portrait-before: 480px;
$mobile-portrait: 479px;
/* -----------------------------------------
#media queries
-----------------------------------------*/
@media only screen and (min-width:$tablet-before){
  /*! for screen readers */
  #flyout .focused .toggle,#nav .focused .toggle,#nav .focused .toggle2{display:inline-block;margin-left:8px}
  #flyout .focused .toggle,#nav .focused .toggle2{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}
  /*! for mega-menu */
  #nav>li>ul{column-count:3;-webkit-column-count:3;-moz-column-count:3;column-gap:30px;-webkit-column-gap:30px;-moz-column-gap:30px;position:absolute;left:0;right:0;top:100%;padding:30px;display:none}
  #flyout,#nav{display:block!important}
  /*! menu - other */
  #nav li:hover>ul{display:block}
  #nav li{display:inline-block}
  /*! traditional dropdown menu */
  /*!
    #nav ul{background:#222;width:220px;position:absolute}
    #nav ul a:hover,#nav ul span:hover{background:rgba(0,0,0,.15)}
  */
  
  }
  @media only screen and (max-width:$tablet){
  /*! for edit forms */
  #freeform #formwizziwmorf tr,#freeform #formwizziwmorf tr td{display:block!important}
  #freeform #formwizziwmorf tr table tr{display:table-row!important}
  #freeform #formwizziwmorf tr table td{display:table-cell!important}
  /*! navigation toggles and arrows */
  #toggles{position: absolute;right: 15px;top: 15px}
  #search-toggle,#nav-toggle{font-size:20px;cursor: pointer;color:#fff;width:45px;line-height: 45px;border:1px solid rgba(255, 255, 255, .2);border-radius:4px;margin-left: 10px;text-align: center}
  .down-arrow{display:none}
  .toggle,.toggle2{position:absolute;right:0;top:0;background:rgba(0,0,0,.15);height:45px;width:45px;line-height:45px;text-align:center;display:inline-block;cursor:pointer}
  /*! navigation */
  #nav{background:#222}
  #nav li{list-style:none;position:relative}
  #nav a,#nav span{padding:15px!important;border-bottom:1px solid rgba(0,0,0,.15);line-height:1;color:#fff;font-size:14px!important}
  #nav ul{background:rgba(0,0,0,.15);display:none}
  }
  /*! All Mobile Sizes (devices and browser) */
  @media only screen and (max-width:$mobile){
  .floating-alert{width:auto;right:0;left:0;border:0;bottom:0;border-radius:0;padding-left:15px;padding-right:15px}
  .floating-alert{font-size:12px}
  .floating-alert h6{margin-bottom:10px;font-size:14px}
  .floating-alert .btn{font-size:10px;padding:7px 12px!important}
  .share-btns a{height:auto;padding:10px;width:100%;font-size:12px;white-space:nowrap;overflow:hidden}
  .share-btns i{display:block;line-height:50px!important;font-size:20px}
  }
  /*! Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  @media only screen and (min-width:$mobile-portrait-before) and (max-width:$mobile){
  /*! Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  
  }
  /*! Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  @media only screen and (max-width:$mobile-portrait){
  /*! Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
  
  }
  @media print{
  #breadcrumbs,#flyout-wrap,.e-notify,header{display:none!important}
  a[href]:after{content:none!important}
  }